/* GLOBAL STYLING */
body {
    background-color: rgb(85, 85, 85);
    color:white;
}

/* IFRAME STYLING */
    .testHTML {
        border:none;
    }

/* PRIMARY PAGE CONTAINER */
    .p-container {
        text-align: center;
        border: 1px solid red;
    }
        .pg-bg {
            color:white;
        }
            .load-msg {
                color:white;
            }
        .ctg-side {
            color:white;
        }
    .form-container {
        color:white;
    }
