/* GLOBAL STYLING */
body {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(85, 85, 85);
    color:white;
}
div {
    padding: 12px;
}

/* IFRAME STYLING */
    /* .testHTML {
        border:none;
    } */
/* HEADER CONTAINER */
    .h-container {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:80%;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
        border: 2px solid gold;
    }
/* BODY CONTAINER */
    .p-container {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:80%;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
        border: 1px solid red;
    }
/* FORM CONTAINER */
    .form-container {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:40%;
        text-align: center;
        border: 1px solid pink;
    }

