/* GLOBAL STYLING */
body {
    background-color: rgb(85, 85, 85);
    color:white;
}
div {
    padding: 12px;
}

/* IFRAME STYLING */
    /* .testHTML {
        border:none;
    } */
/* HEADER CONTAINER */
    .h-container {
        text-align: center;
        border: 2px solid gold;
    }
/* BODY CONTAINER */
    .p-container {
        text-align: center;
        border: 1px solid red;
    }
/* FORM CONTAINER */
    .form-container {
        text-align: center;
        border: 1px solid pink;
    }

