body {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(85, 85, 85);
    color:white;
}

    .top-table{
        border: thin solid black;
    }
        .tab-row {
            text-align: center;
        }
            .tab-row th {
                text-decoration: underline;
                padding: 12px;
                border-bottom: 1px dashed black;
                border-left: 1px dashed black;
            }
            .tab-row th:first-child {
                border-left: none;
            }
            .tab-data{
                padding: 12px;
                border-bottom: 1px dashed black;
                border-left: 1px dashed black;
            }
            .tab-data:first-child {
                border: none;
            }
    
