body {
    background-image: url("https://www.thoughtco.com/thmb/mvmMSSC5cnBtqNmQ_hfFSTD7yew=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/css-code-in-text-editor--web-page-internet-technology-862672426-5c8455ddc9e77c0001a67650.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes loadBannerArt {
    from {
        width: 0%;
        height: 0px;
        transform: rotate(0deg);
    }
    to {
        width: 90%;
        height: 300px;
        transform:rotate(720deg);
    }
}
