.p-container {
    text-decoration: none;
}


    .home-container {
        width: 75%;
        float:left;
        background-color: rgb(39,39,39);
        border: 1px solid red;
        border-radius: 24px;
    }
        .post-container {
            width:75%;
            text-align: left;
        }
        .post-container section {
            margin-bottom: 18px;
            margin-top: 6px;
        }
            .post-sect {
                height: auto;
                text-align: center;
                border: 1px solid black;
                border-radius: 24px;
                box-shadow: 0px 4px 24px 0px red;
            }
            .post-sect > p {
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
                .post-header {
                    color: lightgrey;
                }
                .post-header > span {
                    color: gold;
                    opacity: 0.75;
                }
                .more-info {
                    text-align: right;
                    margin-right: 12px;
                }
                    #bs_Override a.open-modal {
                        color: rgb(31, 128, 255);
                    }
                    #bs_Override a.open-modal:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }


    .ctg-container {
        width:25%;
        float:right;
        background-color: rgb(39, 39, 39);
        border: 1px solid red;
        border-radius: 24px;
    }   
        .category-sect {
            width: 75%;
            height: 75px;
            border: 1px solid red;
            border-radius: 12px;
            margin:auto;
            margin-bottom: 8px;
            margin-top: 4px;
        }
            .category-img {
                width: 100%;
                height: 100%;
                border-radius: 18px;
            }
            .category-img:hover {
                cursor: pointer;
                border: thin dotted red;
            }


    .modal-box {
        display:none;
        position: fixed;
        left: 0px;
        bottom: -25px;
        border-radius: 24px;
        width: 100%;
        height: 100%;
        background-color: black;
        background-color: rgba(0,0,0,0.6);
        z-index: 1;
    }
        .modal-contentDiv {
            position:relative;
            left: 50px;
            top: 50px;
            border: 2px solid black;
            border-radius: 24px;
            background-color: rgb(146, 146, 146);
            width: 90%;
            height: 80%;
        }
            .modal-close {
                float:right;
                position: relative;
                bottom: 18px;
                font-size: 28px;
            }
            .modal-close:hover {
                color: red;
                cursor: pointer;
            }
            .modal-header {
                font-style: italic;
                letter-spacing: 8px;
            }
            .modal-section {
                position: relative;
                left: 50px;
                top: 30px;
                border: 1px rgba(0,0,0,0.75);
                border-radius: 24px;
                background-color:rgb(175, 175, 175);
                box-shadow: 0px 0px 18px 4px rgb(100, 100, 100);
                width: 90%;
                height: 60%;
            }
                .modal-text {
                    color: black;
                }
