/* PAGE HEADER */
.h-container div {
    margin-top: 12px;
}
    .ban-graphic {
        width:100%;
        border: 1px solid blue;
    }
    .log-links {
        width:100%;
        border: 1px solid purple;
    }
        .m_Header {
            width:85%;
            float:left;
        }
        .log-links nav {
            width:15%;
            float:right;
            margin-bottom: 8px;
            border: 1px solid black;
        }
            .log-links a {
                color:white;
                font-size: 12px;
                text-decoration: none;
            }
            .log-links a:hover {
                cursor: pointer;
                color: lightblue;
            }
    .pg_nav {
        border: 1px solid black;
        width:100%;
    }
        .pg_nav a {
            color:white;
            text-decoration: none;
        }
        .pg_nav a:hover{
            cursor: pointer;
            color:lightblue;
        }
