/* PAGE HEADER */
.h-container div {
    margin-top: 12px;
}
    .logModal_container {
        display: none;
        position:fixed;
        left: 0px;
        top:0px;
        width: 100%;
        height: 100%;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }
        .log-content {
            position: relative;
            left: 0px;
            top: 0px;
            width:33%;
            height: 25%;
            margin: auto;
            background-color: white;
            border-radius: 24px;
            color: black;
        }
            .log-head {
                margin-top: 12%;
                letter-spacing: 4px;
                line-height: 1.5;
            }
                .log-form {
                    display: grid;
                    grid-template-columns: 33% 66%;
                    grid-template-rows: auto auto auto 0;
                    /* border: 1px solid black; */
                    width:75%;
                    height: 300px;
                    margin: auto;
                    align-items: center;
                }
                    #username_label {
                        grid-row: 1/1;
                        grid-column: 1/1;
                    }
                    #password_label {
                        grid-row: 2/2;
                        grid-column: 1/1;
                    }
                    #username_input {
                        grid-row: 1/1;
                        grid-column: 2/2;
                    }
                    #password_input {
                        grid-row: 2/2;
                        grid-column: 2/2;
                    }
                    .log-label {
                        /* grid-column: 1/2; */
                        padding: 8px 0px 0px 0px;
                        color: #2b2f3f;
                    }
                    .log-inp {
                        /* grid-column: 2/2; */
                        max-height: 28px;
                        margin-top: 8px;
                        outline: none;
                        border: thin solid black;
                        border-radius: 24px;
                    }
                    .log-inp:focus {
                        border: 0.5px solid blue;
                        box-shadow: 0px 0px 4px 0.5px blue;
                    }
                    .log-submit {
                        grid-row: 3/3;
                        grid-column: 1/3;
                        width: 75%;
                        margin: auto;
                        /* margin-top: 20%; */
                        border: thin solid darkblue;
                        outline: none;
                        border-radius: 24px;
                        background-color: #004bbb;
                        color: white;
                    }
                    .log-submit:disabled {
                        background-color:#a1c4f8;
                        border: none;
                    }
                .reg-prompt span{
                    text-decoration: underline;
                }
                .reg-prompt span:hover {
                    cursor: pointer;
                    color: #004bbb;
                }
    .regModal_container {
        display: none;
        position:fixed;
        left: 0px;
        top:0px;
        width: 100%;
        height: 100%;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }
        .reg-content {
            width:75%;
            margin: auto;
            background-color: white;
            border-radius: 24px;
            color: black;
        }
            .reg-head {
                letter-spacing: 4px;
                line-height: 1.5;
                text-decoration: underline;
            }
            .reg-form {
                display: grid;
                grid-template-columns: 25% 75%;
                justify-content: start;
                align-content: center;
                /* border: 1px solid black; */
                width:50%;
                height: 500px;
                margin: auto;
                text-align: left;
            }
                #fullName_label {
                    grid-row: 1 / 1;
                    grid-column: 1 / 1;
                }
                #fullName_input {
                    grid-row: 1 / 1;
                    grid-column: 2 / 2;
                }
                #birthDate_label {
                    grid-row: 2 / 2;
                    grid-column: 1 / 1;
                }
                #birthDate_input {
                    grid-row: 2 / 2;
                    grid-column: 2 / 2;
                }
                #regUser_label {
                    grid-row: 3 / 3;
                    grid-column: 1 / 1;
                }
                #regUser_input {
                    grid-row: 3 / 3;
                    grid-column: 2 / 2;
                }
                #regPass_label {
                    grid-row: 4 / 4;
                    grid-column: 1 / 1;
                }
                #regPass_input {
                    grid-row: 4 / 4;
                    grid-column: 2 / 2;
                }
                .reg-label {
                    text-decoration: underline;
                    padding: 8px 0px 0px 0px;
                    color: #2b2f3f;
                }
                .reg-inp {
                    width: 75%;
                    margin: auto;
                    margin-top: 8px;
                    border: thin solid black;
                    border-radius: 24px;
                    outline: none;
                }
                .reg-submit {
                    grid-column: 1 / 3;
                    grid-row: 5 / 5;
                    width: 50%;
                    margin: auto;
                    margin-top: 10%;
                    border: thin solid darkblue;
                    outline: none;
                    border-radius: 24px;
                    background-color: #004bbb;
                    color: white;
                }
    .user-nav{
        display:flex;
        max-height: 25px;
        align-self: flex-end;
        border-radius: 24px;
    }
    .user-nav > span {
        border-right: thin solid black;
    }
        .user-profile {
            margin-left: 10%;
            width: 25%;
            order: 3;
            background-color: rgba(0,0,0,0.75);
            color: rgb(200, 200, 200);
            border-radius: 24px;
            text-align: center;
        }
        .user-profile:hover {
            cursor: pointer;
            color: white;
        }
        #bs_Override .user-drop {
            margin: 0px;
            padding: 0px;
        }
        .user-drop {
            position:relative;
            z-index: 1;
            width: 100%;
            background-color: rgba(0,0,0,0.75);
            border-radius: 8px;
        }
        .user-drop span {
            display:flex;
            color: rgb(200,200,200);
            padding-bottom: 8px;
            margin-left: 5%;
        }
        .user-drop span:hover {
            color: white;
            cursor: pointer;
        }
        #user_library{
            order: 2;
        }
        .user-span{
            width:33%;
            color: rgb(200, 200, 200);
        }
        .user-span:hover {
            cursor: pointer;
            color: white;
        }
    .ban-graphic {
        width: 100%;
        height: 300px;
    }
        .ban-img {
            width: 75%;
            height: 100%;
            border-radius: 12px;
        }
    .log-links {
        width:100%;
    }
        .m_Header {
            width:85%;
            float:left;
            padding-left: 164px;
        }
        .log-links nav {
            width:15%;
            float:right;
            margin-bottom: 8px;
            border: 1px solid black;
        }
            .log-links a {
                color:white;
                font-size: 24px;
                text-decoration: none;
            }
            #bs_Override .log-links a:hover {
                cursor: pointer;
                color: lightblue;
            }
    .pg_nav {
        width:100%;
    }
        .pg_nav a {
            color:white;
            text-decoration: none;
            padding-right: 12px;
            padding-left: 12px;
            font-size: 24px;
        }
        #bs_Override .pg_nav a:hover{
            cursor: pointer;
            color:lightblue;
        }
