.sub-msg {
    color: black;
    padding: 8px;
    border: 2px solid lightblue;
    border-radius: 48px;
}
.sub-form{
    border: 1px solid black;
    border-radius: 12px;
    background-color: rgba(162, 248, 105, 0.527);
    padding:6px;
}
    .form-label {
        padding-right:18px;
        color: black;
        text-decoration: white underline;
    }
    .txt-inp {
        border-radius: 24px;
        height:18px;
    }
    .txt-inp:focus {
        border: 2.5px solid lightblue;
        outline: none;
    }
